{% extends 'profiler/base.html' %}
{% block content %}
{% for k,v in queries.items %}
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>Query</th>
      <th>Times ran</th>
      <th>Total time</th>
      <th>Avg time</th>
    </tr>
    <tr>
      <th>{{ k }}</th>
      <th>{{ v.times_ran }}</th>
      <th>{{ v.total_time }}</th>
      <th>{{ v.average_time }}</th>
    </tr>      

  </thead>
  <tbody>  
    {% for q in v.queries %}      
    <tr>
      <td>{{ q.query  }}</td>
      <td>{{ q.times_ran }}</td>
      <td>{{ q.total_time }}</td>
      <td>{{ q.average_time|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}

{% endblock %}
