{% extends 'profiler/base.html' %}
{% block content %}
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>Query</th>
      <th class="num">Times ran</th>
      <th class="num">Total time</th>
      <th class="num">Avg time</th>
    </tr>
  </thead>
  <tbody>
    {% for q in queries %}      
    <tr>
      <td class="query-collapse">{{ q.query  }}</td>
      <td class="num">{{ q.count }}</td>
      <td class="num">{{ q.time }}</td>
      <td class="num">{{ q.average_time|floatformat:2 }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
